<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>登录页面</title>
</head>
<body>
<h1>信息有误,请重新登录</h1>
<form name = "login" action="/user/login" method="post">
    <table>
        <tr>
            <td>
                用户名：
            </td>
        </tr>
        <tr>
            <td>
                <input type="text"  required="required" name="name"/>
            </td>
            <td>
                用户名必须在3-8位之间
            </td>
        </tr>
        <tr>
            <td>
                密码：
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" required="required"  name="pWord"/>
            </td>
            <td>
                密码必须在3-8位之间
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>